div { display: table; margin: 4px; padding: 1px; }
div.t {
    display: table-cell;
    width: 100%;
}
div.t > input {
    margin: 1px;
}

.numMonedasActuales {
    font-size: xxx-large;
}

.pantallas {
    border: 1px solid;
    margin-left: 4px;
}

.palanca {
    margin-left: 20px;
}


body {
    font-family: Open Sans, fantasy;
    color: deeppink;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.99)), url("fondo/monedas.jpeg");
}

/* Estilo del título */

.titulo {
    animation: blinker 1s linear infinite;
    text-align: center;

}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.historial {
    padding: 1rem;
    margin: auto;
}

.monedas {
    margin: auto;

}

h2 {
    text-align: center;
}

.introducirMonedas {
    margin: auto;

}

.boton {
    margin: auto;
}

#pantallas {
    margin: auto;
}
